
#content {
    width: 80%;
    margin: auto;
}

/* ------ menubar ------ */

.tabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    transition: background 2s;
    height: 100px;
    /* background: linear-gradient(to right, grey 33%, white 33% 66%, white 66% 100%); */
}

.tabs > h2 {
    height: 70px;
}

.tabs > h2 > a {
    cursor: pointer;
}

#transi {
    width: 60%;
    height: 4%;
    background: grey;
    z-index:-1;
    bottom: 75px;
    position: relative;
    margin-left: 20%;
    transition: margin-left 0.75s ease-out;
}

/* ------ Landing ------ */

.landing {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    margin: 40px 0px;
}

.landing > div {
    padding: 20px;
}

.text > p {
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    text-align: center;
}

img {
    border-radius: 20px;
}

.landing > .text {
    padding: 30px 30px;
}


/* ------ Menu ------ */

.menu {
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 60%;
}

/* ------ Contact ------ */

.contact {
    text-align: center;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.contact > input {
    margin: 20px auto;
    width: 60%;
}
